{% extends "base.html" %}

{% block content %}
<table style="table-layout:fixed;">
	<thead>
		<th>created</th>
		<th>env</th>
		<th>CustomStream.so</th>
		<th>FIXHub.jar</th>
		<th>tradelog.jar</th>
		<th>pulse.so</th>
		<th>OM_flex_new</th>
		<th>fix_flex</th>
		<th>fix_brk</th>
		<th>branch</th>
		<th>build</th>
		<th>suite</th>
		<th>scenario</th>
		<th>result</th>
		<th>message</th>
		<th>time</th>
		<th>mem</th>
		<th>cpu</th>
	</thead>
	<tbody>
	{% for post in posts %}
		<tr class="{{ loop.cycle('odd', 'even') }}">
			{% if post.environment != '' %}
				<td style="font-size: smaller"><i>{{ post.created_at.strftime('%d-%m-%y (%H:%M:%S)') }}</i></td>
			{% else %}
				<td></td>
			{% endif %}
			<td>{{ post.environment[:post.environment.find('.')] }}</td>
			<td style="font-size: smaller">{{ post.customstream }}</td>
			<td style="font-size: smaller">{{ post.fixhub }}</td>
			<td style="font-size: smaller">{{ post.tradelog }}</td>
			<td style="font-size: smaller">{{ post.pulse }}</td>
			<td style="font-size: smaller">{{ post.omflexnew }}</td>
			<td style="font-size: smaller">{{ post.fixflex }}</td>
			<td style="font-size: smaller">{{ post.fixbrk }}</td>
			<td>{{ post.branch }}</td>
			<td style="font-size: smaller">{{ post.build }}</td>
			<td style="font-size: smaller">{{ post.suite }}</td>
			{% if post.report != '' and post.suite != '' %}
				<td><a href='/details/{{post.report}}'>{{ post.scenario }}</a> [<a style="font-size: 10px"  href='/uploads/{{post.report}}'>download</a>]</td>
			{% else %}
				<td>{{ post.scenario }}</td>
			{% endif %}
			<td class="{{ format_result(post.result) }}">{{ format_result(post.result) }}</td>
			<td contenteditable id='{{ post.created_at }}' onblur="edit('{{ post.created_at }}')" style="font-size: smaller">{{ post.message }}</td>
			<td style="font-size: smaller"><i>{{ format_runtime(post.run_time) }}</i></td>
			<td style="font-size: smaller"><i>{{ '' if post.used_memory_delta == -1 else post.used_memory_delta }}</i></td>
			<td class="last" style="font-size: smaller"><i>{{ '' if post.user_cpu_delta == -1 else post.user_cpu_delta}}</i></td>
		</tr>
	{% endfor %}
	</tbody>
</table>
{% endblock %}
