{% extends "base.html" %}

{% block content %}
<table>
	<thead>
		<th>created</th>
		<th>environment</th>
		<th>branch</th>
		<th>build</th>
		<th>suite</th>
		<th>scenario</th>
		<th>result</th>
		<th>message</th>
		<th>time</th>
		<th>mem</th>
		<th>cpu</th>
	</thead>
	<tbody>
	{% for post in posts %}
		<tr class="{{ loop.cycle('odd', 'even') }}">
			<td><i>{{ post.created_at.strftime('%d-%m-%y (%H:%M:%S)') }}</i></td>
			<td>{{ post.environment }}</td>
			<td>{{ post.branch }}</td>
			<td>{{ post.build }}</td>
			<td>{{ post.suite }}</td>
			{% if post.report != ''%}
				<td><a href='/uploads/{{post.report}}'>{{ post.scenario }}</a></td>
			{% else %}
				<td>{{ post.scenario }}</td>
			{% endif %}
			<td class="{{ format_result(post.result) }}">{{ format_result(post.result) }}</td>
			<td contenteditable id='{{ post.created_at }}' onblur="edit('{{ post.created_at }}')">{{ post.message }}</td>
			<td><i>{{ format_runtime(post.run_time) }}</i></td>
			<td><i>{{ '' if post.used_memory_delta == -1 else post.used_memory_delta }}</i></td>
			<td class="last"><i>{{ '' if post.user_cpu_delta == -1 else post.user_cpu_delta}}</i></td>
		</tr>
	{% endfor %}
	</tbody>
</table>
{% endblock %}
